.sidenav-container {
  height: 100vh;
  background-color: #fff3e6;
  font-family: 'Segoe UI', sans-serif;
}
.login-item {
  margin-top: auto;
  color: #ffa94d;

  mat-icon {
    margin-right: 8px;
  }

  &:hover {
    background-color: #a87450;
    color: #fff;
  }
}


mat-sidenav {
  width: 250px;
  background-color: #fff3e6;
  color: #5d2c15;

  mat-toolbar {
    background-color: #5d2c15;
    color: #ffe0b2;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  mat-list-item {
    color: #5d2c15;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: #a87450;
      color: #fff;
    }

    .mat-icon {
      color: #7a4f25;
    }

    .expand-arrow {
      margin-left: auto;
      color: #ffa94d;
    }
  }

  .submenu {
    padding-left: 32px;
    animation: slideDown 0.3s ease-in-out;

    a[mat-list-item] {
      font-size: 0.9rem;
      color: #5d2c15;
      border-left: 3px solid #ffa94d;
      padding-left: 1rem;

      &:hover {
        background-color: #a87450;
        color: #fff;
      }
    }
  }
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff3e6;
  color: #5d2c15;

  .main-toolbar {
    display: flex;
    align-items: center;
    background-color: #5d2c15;
    color: #ffe0b2;
    padding: 0 1rem;
    font-weight: bold;

    .toggle-btn {
      margin-right: 1rem;
      color: #ffe0b2;
    }

    .brand-title {
      font-size: 1.2rem;
    }
  }

  .main-content {
    padding: 2rem;
    overflow-y: auto;
    flex-grow: 1;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
