.upload-card {
  padding: 1rem;
  border-radius: 12px;
  background: transparent;
}

.preview-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin: 1rem 0;

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
}
