<div class="upload-card">
  <h3>Upload Service Images</h3>

  <input type="file"
         multiple
         accept="image/*"
         (change)="onFileSelect($event)" />

  <div class="preview-grid" *ngIf="previewUrls.length">
    <img *ngFor="let img of previewUrls" [src]="img" />
  </div>

  <button mat-raised-button
          color="primary"
          type="button"
          (click)="uploadImages()"
          [disabled]="uploading || !serviceId || selectedFiles.length === 0">
    <mat-icon>cloud_upload</mat-icon>
    Upload Images
  </button>
</div>

