<div class="results-grid">
  <div class="service-card"
       *ngFor="let provider of filteredProviders; let i = index"
       (click)="goFindServiceDetail()"
       style="cursor: pointer;">
    <img [src]="provider.image" alt="Profile" class="profile-pic" />
    <h3>{{ provider.name }}</h3>
    <p class="service">{{ provider.service }}</p>
    <p class="location">
      <mat-icon>location_on</mat-icon> {{ provider.location }}
    </p>
    <p class="bio">{{ provider.description }}</p>
  </div>
</div>
